@model Projeto_Tinder.Models.Pessoa

<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Pessoa</title>
</head>
<body>
    <h1>Formulário de Pessoa</h1>
    <form method="post">
        <div>
            <label for="Nome">Nome:</label>
            <input type="text" id="Nome" name="Nome" value="@Model.Nome" />
        </div>
        <div>
            <label for="Genero">Gênero:</label>
            <input type="number" id="Genero" name="Genero" value="@Model.Genero" />
        </div>
        <div>
            <label for="OrientacaoSexual">Orientação Sexual:</label>
            <input type="number" id="OrientacaoSexual" name="OrientacaoSexual" value="@Model.OrientacaoSexual" />
        </div>
        <div>
            <label for="DataNascimento">Data de Nascimento:</label>
            <input type="date" id="DataNascimento" name="DataNascimento" value="@Model.DataNascimento" />
        </div>
        <div>
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" value="@Model.Email" />
        </div>
        <div>
            <label for="Telefone">Telefone:</label>
            <input type="tel" id="Telefone" name="Telefone" value="@Model.Telefone" />
        </div>
        <div>
            <input type="submit" value="Salvar" />
        </div>
    </form>
</body>
</html>
